
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
 
}
header,
main,
footer {
  width: 100%
}

h2 {  
  text-align: center;
}

.gallery {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.gallery h1 {
  margin-bottom: 1rem;
}


.grid {
  display: grid;
  grid-template-columns: 1fr; 
  justify-items: center;     
  gap: 1rem;
}

header, footer {
    background-color: rgb(106, 157, 220);
    border: 1px solid #ccc;
}

main {
   background-color: lightgrey;

}

h1 {
    text-align: center;
}

 section {
  padding: 20px;
  margin: 1em;
}

nav a {
  color: black;
  display: none;
}

nav a:hover {
  text-decoration: none;
  color: #616061;
}

.text-button {

  background: none;
  border: none;
  display: block;
  margin: 0 auto;
  color: white
}

footer {
  text-align: center;
  padding: 10px;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  border: 5px solid white

}
          

@media screen and (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);

  }
  .text-button {
    display: none;
    
   
  }

   nav a {
    display: inline;
    color: white;
    
  }

  nav {
    text-align: center;
    word-spacing: 30px;
  }


}

