
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
 
}
header,
main,
footer {    
  width: 100%
}

h2 {  
  text-align: center;
}

.gallery {
  max-width: 1000px;
  padding: 1rem;
  margin: 0 auto;
}


.gallery h1 {
  margin-bottom: 1rem;

}


.grid {
  display: grid;
  grid-template-columns: 1fr;    
  gap: 1rem;
}

header, footer {
    background-color: rgb(106, 157, 220);
    border: 1px solid #ccc;
}

main {
   background-color: lightgrey;

}

h1 {
    text-align: center;
}


figure {
  margin: 0;
  padding: 20px;
}

nav a {
  color: black;
  display: block;
  text-align: center;

}

.large-screen {
  display: none;
}

nav a:hover {
  text-decoration: none;
  color: #616061;
}

.text-button {

  background: none;
  border: none;
  display: block;
  margin: 0 auto;
  color: white
}

.hide {
  display: none;
}

footer {
  text-align: center;
  padding: 10px;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  border: 5px solid white;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.8);

}


dialog img {
    width: 60%;
    height: auto;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;

}
          

@media screen and (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);

  }
  .text-button {
    display: none;
    
   
  }

   nav a {
    display: inline;
    color: white;
    
  }

  nav {
    text-align: center;
    word-spacing: 30px;
  }

  .hide {
    display: none

}

.large-screen {
    display: block;
  }

  dialog img {
    width: 60%;
    height: auto;
    margin: 15vh auto;
    }
  .close-viewer {
    position: absolute;
    right: 15vh;
    }
  .viewer {
    margin: 50px;
    padding: 50px;
    }
  .viewer img {
    max-width: 800px;
    }

}