body {
    background-color: #ddd;
    font-size: 20px;
}

#content {
    max-width: 60%;
    border : 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
}

p {
    color: rgb(124, 196, 238);;
    font-size: 1.3em;


}

hr {
    height: 3px;

    background-color: rgb(124, 196, 238);
    width: 80%;
    margin-top: 50px;
}

h1, h2, p {
    text-align: center;

}

#boon {
    text-align: center;
}

img {
    width: 100%;
    margin: 50px auto;
}

#topics {
    line-height: 1.5em;
    margin: 0 auto;
}

.list {
    list-style-type: none;
}